/*Order: @import, :root, *, Elements, Classes, IDs, Attributes, Selectors, Nesting Selectors, Pseudo-Elements, Pseudo-Classes, At-Rules*/
/*Order: Position, Size, Shape, Color, Function*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;400&family=Playfair+Display:wght@400;500;700;800");

:root {
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);
	--grey: rgb(75, 60, 75);
	--gold: rgb(255, 190, 60);
	--navy: rgb(0, 0, 75);
	--red: rgb(190, 0, 75);
	--green: rgb(0, 190, 75);
	--blue: rgb(60, 75, 255);
	--purple: rgb(75, 0, 190);
	--turquoise: rgb(60, 190, 190);

	--imageoverlay: linear-gradient(to right, rgba(190, 0, 75, 0.6), rgba(60, 75, 255, 0.6));
}

* {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: "Playfair Display", serif;
	font-weight: 400;
}

html {
	background-color: var(--white);
}

header, footer {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--gold);
	background-color: var(--black);
}

nav {
	display: flex;
}

main {
	padding: 20px;
	display: flex;
	flex-direction: column;
}

section {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

div {
	display: flex;
	align-items: center;
}

h1 {
	font-size: 40px;
	font-weight: 800;
}

h2 {
	font-size: 30px;
	font-weight: 800;
}

h3 {
	font-size: 20px;
	font-weight: 800;
}

p, a {
	font-family: "DM Sans", Bahnschrift, sans-serif;
}

iframe {
	height: 25vmax;
	width: 100%;
	border: none;
}

.button {
	margin: 0px 10px;
	padding: 10px;
	font-size: 20px;
	display: flex;
	text-decoration: none;
	color: var(--white);
}

.button:hover {
	text-decoration: underline;
}

.logo {
	height: 50px;
	font-size:50px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--gold);
	user-select: none;
}

.logo img {
	margin-top: -15px;
	height: 35px;
	transition: 0.5s;
}

.logo:hover img {
	margin-top: 0px;
	transition: 0.5s;
}

.gallery {
	gap: 20px;
	display: flex;
	align-items: stretch;
}

.gallerycolumn {
	gap: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.gallerycolumn img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.imagetext {
	margin: 30px 50px -30px;
	font-size: 100px;
	color: var(--white);
}

.imagesection {
	width: 100%;
	height: calc(100vh - 90px);
	background-size: cover;
	background-repeat: no-repeat;
	background-image: var(--imageoverlay), url("https://semiball.ch/2024/content/images/semiball2024_imagesection.jpg");
}

.lastsection {
	margin-bottom: 0px;
}

::selection {
	color: var(--white);
	background: var(--gold);
}

@media screen and (max-width: 900px) {
	nav {
		display: none;
	}
	
	.gallery, .gallerycolumn {
		gap: 5px;
	}
}
